{% if attending %}
  <p>
    Thank you for responding to our rehearsal dinner invitation.
  </p>
  
  <p>
    We look forward to seeing you on December 6th!
  </p>
  
  <p>
    Thank you,<br />
    Tim & Dove Barratt<br />
  </p>
{% else %}
  <p>
    We are sorry you cannot make it. Thank you for your reply.
  </p>
{% endif %}
