<h2 class="title">Gift Registry</h2>
<div class="body">
  {% image '@WeddingRespondBundle/Resources/public/images/amazon.png' %}
    <div class="store">
      <a href="http://www.amazon.com/registry/wedding/TUI316XIIUT4/?tag=davwbar-20" target="_blank">
        <img src="{{ asset_url }}" alt="amazon.com" />
      </a>
    </div>
  {% endimage %}
  {% image '@WeddingRespondBundle/Resources/public/images/container.png' %}
    <div class="store">
      <a href="http://www.containerstore.com/giftregistry/view.htm?id=3222119" target="_blank">
        <img src="{{ asset_url }}" alt="The Container Store" />
      </a>
    </div>
  {% endimage %}
  {% image '@WeddingRespondBundle/Resources/public/images/macys.png' %}
    <div class="store">
      <a href="http://www.macys.com/registry/wedding/guest/?registryId=2125313" target="_blank">
        <img src="{{ asset_url }}" alt="Macy's" />
      </a>
    </div>
  {% endimage %}
</div>