{% if attending %}
  <p>
    Thank you for responding to our wedding invitation.
  </p>
  
  <p>
    If you are staying at the <a href="http://www.marriott.com/hotels/travel/mcoma-courtyard-orlando-downtown/" target="_blank">Courtyard by Marriott Orlando Downtown</a>, please remember to reserve your room prior to November 8th by calling 407-996-1000 and mentioning that you are staying for the Andria McKinney and David Barratt wedding.
  </p>
  
  <p>
    We look forward to seeing you on December 8th!
  </p>
  
  <p>
    Thank you,<br />
    Andria & David<br />
    P.S. Have fun by using the #BarrattWedding tag on <a href="https://www.facebook.com/hashtag/BarrattWedding" target="_blank">Facebook</a>, <a href="https://twitter.com/search?q=%23BarrattWedding" target="_blank">Twitter</a>, and <a href="http://hashgr.am/BarrattWedding" target="_blank">Instagram</a>!
  </p>
{% else %}
  <p>
    We are sorry you cannot make it. Thank you for your reply.
  </p>
{% endif %}
