<h2 class="title">Travel</h2>
<div class="body">
  <div class="box venue">
    <h3>Wedding Venue</h3>
    <p>
      <a href="http://www.cypressgroveestatehouse.com">Cypress Grove Estate House</a><br />
      290 Holden Avenue<br />
      Orlando, Florida 32839
    </p>
  </div>
  <div class="box airport">
    <h3>Airport</h3>
    <p>
      <a href="http://www.orlandoairports.net">Orlando International Airport (MCO)</a><br />
      1 Jeff Fuqua Boulevard<br />
      Orlando, Florida 32827
    </p>
  </div>
  <div class="box hotel">
    <h3>Hotel</h3>
    <p>
      <a href="http://www.marriott.com/hotels/travel/mcoma-courtyard-orlando-downtown/">Courtyard by Marriott Orlando Downtown</a><br />
      30 North Magnolia Avenue<br />
      Orlando, Florida 32803
    </p>
  </div>
</div>