body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  padding-top: 4.8em;
  font-family: 'Ropa Sans', sans-serif;
  line-height: 1.3em;
}

#page-wrapper {
  background-color: #48d1c1;
  overflow: hidden;
}

a {
  color: #333;
}

li  {
  margin-bottom: 0.7em;
}

a,
a:hover,
a:active, 
a:focus {
  outline: none;
}


#page {
  margin: 0 auto;
  padding: 0 1em;
  background: #fff;
  box-shadow: -300px 0 300px -220px rgba(255, 255, 255, 1),
             300px 0 300px -220px rgba(255, 255, 255, 1);
}

.us {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 200px;
}

/*
 * Group
 */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Header
 */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.9);
}

header .header-wrapper {
  margin: 0 auto;
  padding: 0.8em 0.9em;
}

/*
 * Logo
 */
#logo {
  width: 7em;
  margin: 0 auto 0 auto;
}

#logo img {
  width: 100%;
  height: auto;
}

/*
 * Navigation
 */
.navigation {
  margin: 0 0 0 0;
}
.navigation-left {
  float: left;
  margin: 0 0 0 1em;
}

.navigation-right {
  float: right;
  margin: 0 1em 0 0;
}

.navigation-right ul li {
  float: right;
  clear: right;
}


header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  float: left;
  font-family: 'Ropa Sans', sans-serif;
  clear: left;
  margin: 0 0 0.4em 0;
}

header nav ul li:last-child {
  margin-bottom: 0;
}

header #navigation-right nav ul li {
  float: right;
  clear: right;
}

header nav ul li a {
  text-decoration: none;
  padding: 0.2em 0.6em;
  border: 1px solid transparent;
}

header nav ul li.current a {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  border: 1px solid #48d1c1;
}


/*
 * Title
 */
h2.title {
  border-bottom: 1px solid #FFE5B4;
}

/*
 * Registery
 */
#registry .store {
  margin: 2em auto;
  width: 50%;
}

#registry .store:last-child {
  margin-bottom: 0;
}

#registry img {
  width: 100%;
  height: auto;
  margin: 2em 0;
}

/*
 * Travel
 */
#travel .venue {
  text-align: center;
}

#travel .body {
  overflow: hidden;
}

#travel .airport {
  float: left;
  width: 48%;
}

#travel .hotel {
  float: right;
  text-align: right;
  width: 48%;
}

@media only screen and (min-width: 632px) {

  header .header-wrapper {
    width: 632px;
    padding-right: 0;
    padding-left: 0;
  }

  #page {
    width: 600px;
  }
  
  body #photos .wrapper {
    width: 632px;
  }


}
