h2.title {
  font-weight: normal;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
  font-size: 1.7em;
}

.hidden {
  display: none;
}

div.page {
  padding-top: 5em;
  margin-bottom: -3em;
}

#rehersal div.page {
  padding-top: 0.5em;
  margin-bottom: -3em;
}

#photos {
  margin-bottom: 20em;
}

div.page:last-child {
  padding-bottom: 3em;
}

form.rsvp {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 3em;
}

#respond > div,
form.rsvp .guest > label,
form.rsvp .guest .form > div > div {
  clear: both;
  margin-bottom: 1em;
}

form.rsvp .guest .form > label {
  clear: both;
  margin-bottom: 0.5em;
}

form.rsvp .guest .form > div {
  margin-left: 2em;
}

form.rsvp .guest .remove {
  margin-left: 0.5em;
}

form.rsvp label,
form.rsvp input {
  display: block;
}

form.rsvp input,
form.rsvp textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.2em;
  width: 100%;
  border: 1px solid #48d1c1;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.1em;
}

form.rsvp .submit {
  margin: 1.5em 0 0 0;
  padding: 0.4em 0;
  background-color: rgba(255,255,255,0.8);
  border-color: #48d1c1;
  color: #333;
}

form.rsvp .submit:hover {
  color: #fff;
  background-color: #48d1c1;
}

#respond_attending {
  margin-top: 0.2em;
}

#respond_attending input {
  padding: 0;
  margin: 0.2em 0.4em 0 0;
  float: left;
  clear: both;
  width: auto;
  display: inline;
}

/*
 * Photos
 */
#photos {
  width: 100%;
  overflow: hidden;
  background-color: #48d1c1;
  margin: 0;
  padding: 0;
}

#photos .background {
  background-color: rgba(255, 255, 255, 0.9);
}

#photos .wrapper {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0;
  position: relative;
  width: auto;
}


#photos .carousel img {
  width: 100%;
  height: auto;
}

#photos .slides img {
  width: 100%;
  height: auto;
  min-width: none;
  min-height: none;
}


#photos .prev,
#photos .next {
  width: 632px;
  display: block;
  height: 421px;
  top: 0;
  position: absolute;
}

#photos .prev:before,
#photos .next:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 10;
}

#photos .prev:hover:before,
#photos .next:hover:before {
  background-color: rgba(255, 255, 255, 0.85);
}

#photos .prev {
  right: 631px;
}

#photos .next {
  left: 632px;
}

#photos .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: inherit;
}

/*
 * People
 */
.page-people .who:after {
  content: "";
  display: table;
  clear: both;
}

.page-people .people {
  padding-top: 1em;
}

.page-people .people .person h3,
.page-people .people .person h4 {
  text-align: center;
}

.page-people .people .person .social {
  text-align: center;
}

.page-people .person {
  width: 100%;
}

.page-people .person:first-child {
  margin-left: 0;
}

.page-people .person .image {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}

.page-people .person .image img {
  width: 100%;
  height: auto;
}

.page-people .person h3,
.page-people .person h3 a {
  color: rgba(255, 255, 255, 0.9);
}

.page-people .person h3 {
  margin-top: -1.8em;
  z-index: 100;
  display: block;
  position: relative;
  padding: 0.2em 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-people .person:hover h3,
.page-people .person:hover h3 a {
  color: rgba(255, 255, 255, 0.7);
}

.page-people .person h3 a {
  text-decoration: none;
}

@media only screen and (min-width: 632px) {
  
  #photos .main {
    width: 632px;
    height: 421px;
  }
  
  #photos .slides img {
    min-height: 422px;
    min-width: 632px;
  }
  
  #photos .bx-controls {
    display: none;
  }
  
  .page-people .person,
  .page-people .person .image {
    width: 190px;
  }
  
  .page-people .who .person {
    float: left;
    margin-left: 15px;
  }
  
  .page-people .person:first-child {
    margin-left: 0;
  }

}

